
.content1{
    display: grid;
    width: 70%;
}

.backlog{
    background-color: #54AC9C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.options{
    display: flex;
    align-items: center;
    height: auto;
    gap: 100px;
    width: 100%;
}

.inputSearch, .btnMenu{
    width: 20%;

}

.inputSearch{
    height: 30px;
    border-radius: 30px;
}
.content2{
    display: flex;
}

.main{
    padding-top: 0px;
}

.form{
    margin-top: 70px;
    width: 30%;
    margin-left: 100px;
    height: 605px;
    border-radius: 10px;
    
}

.contentForm div{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.divBtnForm{
    text-align: center;
}
.btnForm{
    margin: 0;
    width: 30%;
}

.iconUpdate{
    width: 30px;
    height: 30px;
    background-color: #54AC9C;
}

.iconDelete{
    width: 30px;
    height: 30px;
    background-color: red;
}

.iconCenter{
    text-align: center;
}

