* {
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    position: relative;
    min-height: 92%;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    display: flex;
    padding: 70px 100px 0 100px; 
    background-image: linear-gradient(165deg, rgb(128, 128, 128,0.6), white);

  }

#mainForm{
    justify-content: center;
    align-items: center;
  }
  

  
header{
    padding: 20px 100px;
    display: flex;
    background-color: #54AC9C;
    font-size: 25px;
    align-items: center;
    gap: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: relative;
}
h1{
    background-color: transparent;
}


#iconUser{
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 100px;
    cursor: pointer;

}

.userOptions{
    border: 1px solid black;
    position: absolute;
    top: 100px;
    right: 150px;
    width: 200px;
    font-size: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    display: none;
}

.userOptions h3, .linkMenu{
    margin: 20px;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 500px;
    padding-left: 160px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}


.welcome h2{
    font-size: 60px;
}

.welcome h1{
    font-size: 80px;
}
.login-container{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 500px;

}

.login{
    text-align: center;
    padding: 30px;
    width: 400px;
    background-color: #D9D9D9;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    border: 3px solid black;
    border-radius: 25px;
} 
.nameLogin{
    margin-top: 30px;
}
.inputs, button{
    text-align: left;
    font-size: 20px;
}

.inputForm, select{
    width: 100% !important;
    height: 30px !important;
    border-radius: 30px !important;
}

button{
    font-size: 15px;
    text-align: center;
    width: 50%;
    padding: 0.8rem;
    border-radius: 25px;
    background-color: #54AC9C;
}

footer{
    text-align: center;
    position: fixed;
    background-color: #54AC9C;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    padding: 25px;
}

.container{
    position: relative;
    
  }

#mensaje{
    background-color: red;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}


.feedback{
    max-width: 100%;
    width: 100%;
    background-color: white;
    font-size: 15px;
    color: black;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.success{
    border: 2px solid greenyellow;
  }
  
  .error{
    border: 2px solid red;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
}
