/* !ESTILOS PARA LAS TABLAS */
.title-table{
    border: 1px solid black;
    background-color: #808080;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;  
}

.encabezados-tabla{
    height: 20px;
}
.container-table{
    width: 60%;
}

table {
    margin-top: 30px;
    width: 100vh;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    max-height: 400px;
    min-height: 400px;
    margin-left: 50px;
    border-radius: 8px;
}

th,td{
    border: 1px solid black;
    padding: 2px;
    min-height: 23px;
    max-height: 25px;
}

td{
    height: 40px;
    padding: 5px;
}

th{
    border-bottom: 2px solid black;
}

.few-rows {
    height: 360px; /* Establece una altura mínima para la tabla cuando hay pocos registros */
}


.buttons{
    width: 50%;
    height: 50%;
    margin-right: 20px;
}

.Button{
    background-color: white;
    padding: 30px;
    width: 40%;
    height: 40%;
    border: 3px solid black;
    border-radius: 10px;
    margin: 50px;
    text-align: center;
    font-size: 10px;
}

.row-buttons{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

@media (max-width: 450px){
    .title-table{
        border: 1px solid black;
        background-color: #808080;
        color: white;
        border-radius: 10px;
        text-align: center;
        padding: 10px 0px;  
    }
    .container-table{
        width: 60%;
    }
    table {
        margin-top: 35px;
        width: 100vh;
        padding: 2px;
        border: 1px solid black;
        background-color: white;
        max-height: 400px;
        min-height: 400px;
        margin-left: 50px;
        border-radius: 10px;
    }
    
    th,td{
        border-right: 1px solid black;
        height: 10px;
        min-height: 23px;
        max-height: 25px;
    }
    
    td{
        height: 40px;
    }
    
    th{
        border-bottom: 1px solid black;
    
    }
    
    .few-rows {
        height: 300px; /* Establece una altura mínima para la tabla cuando hay pocos registros */
    }
    
    
    .buttons{
        
        width: 50%;
        height: 50%;
        margin-right: 20px;
    }
    
    .Button{
        padding: 30px;
        width: 40%;
        height: 40%;
        border: 3px solid black;
        border-radius: 10px;
        margin: 50px;
        text-align: center;
        font-size: 10px;
    }
    
    .row-buttons{
        display: flex;
        justify-content: center;
    }
    
    a{
        text-decoration: none;
    }
}