
.content1{
    display: grid;
    width: 70%;
}

.backlog{
    background-color: #54AC9C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;

}

.backlogForm{
    background-color: #54AC9C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    position: absolute;
    top: 25%;
    left: 7.5%;
}
.options{
    display: flex;
    align-items: center;
    height: auto;
    gap: 100px;
    width: 100%;
}

.inputSearch, .btnMenu{
    width: 20%;

}

#generateReportVent{
    width: 100% !important;
}

.inputSearch{
    margin-top: 20px;
    height: 35px;
    width: 20vh;
    border-radius: 30px;
    font-size: 15px;
    padding-left: 5px;
}
.content2{
    display: flex;
    height: 50vh;
}


.content-consult{
    height: 50vh;
    width: 50vh;
    background-color: white;
    border: 3px solid black;
    border-radius: 7px;
    padding: 30px;
}

.content-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 17px;
}

.content-info p{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    border: 1px solid black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.main{
    padding-top: 0px;
}

.form{
    margin-top: 70px;
    width: 30%;
    margin-left: 100px;
    height: 605px;
    border-radius: 10px;
    
}

.contentForm div{
    margin-top: 7px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 50vh;
}
.divBtnForm{
    text-align: center;
}
.btnForm{
    margin: 0;
    width: 30%;
}

.iconUpdate{
    width: 30px;
    height: 30px;
    background-color: #54AC9C;
}

.iconDelete{
    width: 30px;
    height: 30px;
    background-color: red;
}

.iconCenter{
    text-align: center;
}

